:root {
  --background-color: #121518;
  --text-color: #ededed;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navlink {
  border-color: var(--text-color);
  transition: border-color 0.5s ease, color 0.3s ease;
}

.navbar {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.menu-overlay {
  background-color: #33353c;
}

.modal-overlay {
  background-color: var(--background-color);
}

.hamburger span {
  background-color: var(--text-color);
}

.logo {
  color: var(--text-color);

  &:hover {
    color: var(--text-color);
  }
}

@media screen and (min-width: 720px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}
